extends layout

block extraHead

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")

  style.
    .password-container {
      position: relative;
    }
    .toggle-password {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      border: none;
      background: transparent;
      cursor: pointer;
      font-size: 1.2rem;
    }

block content
  .card.shadow
    .card-body
      h2.text-center.h5.mb-4 Cambiar Contrase単a

      form#formCambiarPassword
        .row.mb-3
          .col-md-4
            label.form-label(for="actual") Contrase単a Actual:
            input.form-control.fw-bold.fs-5(type="password", id="actual", name="actual", required, autocomplete="off")

          .col-md-4
            label.form-label(for="nueva") Nueva Contrase単a:
            .password-container
              input.form-control.fw-bold.fs-5(type="password", id="nueva", name="nueva", required, autocomplete="off")
              button.toggle-password(type="button", tabindex="-1", data-target="nueva")
                i.fas.fa-eye

          .col-md-4
            label.form-label(for="repetir") Repetir Nueva Contrase単a:
            .password-container
              input.form-control.fw-bold.fs-5(type="password", id="repetir", name="repetir", required, autocomplete="off")
              button.toggle-password(type="button", tabindex="-1", data-target="repetir")
                i.fas.fa-eye

        hr.my-4

        .row
          .col-md-12
            button.btn.btn-primary.w-100.mt-3(type="submit") Guardar Cambios

        #mensajes.mt-3.text-center

block extraScripts
  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  script(type="module", src="/js/cambiarpassword.js")
