.div.mb-4
  .row.mb-3
    .col-md-8
      input#documento.form-control.text-center.fw-bold.fs-5(
        type="text",
        placeholder="Ingrese aquí el n° de documento",
        required,
        autocomplete="off"
      )
    .col-md-4
      button#btnBuscarPaciente.btn.btn-primary.w-100(type="button") Buscar Paciente

  #mensajes.mt-2.text-center
  #datosPaciente.mt-3
  #datosInternacion.mt-3
